body {
  font-family: Menlo, "Courier New", monospace;
  color: lightgray;
}

h1 {
  font-size: 3.25rem;
  max-width: 60ch;
  line-height: 1.1;
}

p {
  font-size: 1.25rem;
  line-height: 1.2;
  max-width: 60ch;
}

main {
  padding: 2rem;
  background-color: #272727;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center > div {
  margin: .5rem;
}

.vertical-space {
  margin: 2rem 0;
}

button {
  padding: 1.5rem 3rem;
  border-radius: .175rem;
}

input[type=text] {
  padding: .2rem .4rem;
}
